{% extends 'regsoft/base.html' %}

{% block body %}

<form method="POST" action="">
    {% csrf_token %}
<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div class="card">
                        <div class="header">
                            <h2>
                                Select an Event to add a participant to {{g_l.college}}
                            </h2>
                        </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Min Limit</th>
                                        <th>Max Limit</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Event</th>
                                        <th>Min Limit</th>
                                        <th>Max Limit</th>
                                        <th>Select</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for event in events %}
                                    <tr>
                                        <td>{{event.name}}</td>
                                        <td>{{event.min_limit}}</td>
                                        <td>{{event.max_limit}}</td>
                                        <td>
                                            <input name="event" type="radio" id="{{event.id}}" value="{{event.id}}"/>
                                            <label for="{{event.id}}"></label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                   
                    </table>
        </div>
    </div>
</div>


<div class="card">
    <div class="header">
        <h2>
            Add Coach for {{g_l.college}}
        </h2>
    </div>

    <div class="body">
            <label for="name">Name of the Coach</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="name" class="form-control" placeholder="Name of the coach" name="name" value="{{name}}">
                </div>
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Add Coach</button>
        </div>
    </div>
</div>
</div>
</form>

{% endblock %}