{% extends 'regsoft/base.html' %}
{% load static %}
{% block body %}
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>BOSM Co-ordinator</h2>
            </div>
            <div class="body">
                <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static 'regsoft/images/10.jpg' %}" />
                            <div class="carousel-caption">
                                <h3>Vihang Shah</h3>
                                <p>+91-9828630490</p>
                                <p>RAM 3119</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Back-End Developer</h2>
            </div>
            <div class="body">
                <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static 'regsoft/images/10.jpg' %}"/>
                            <div class="carousel-caption">
                            <h3>Megh Thakkar</h3>
                            <p>+91-9829799877</p>
                            <p>RAM 3119</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Back-End Developer</h2>
            </div>
            <div class="body">
                <div id="carousel-example-generic_2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static 'regsoft/images/10.jpg' %}" />
                            <div class="carousel-caption">
                                <h3>Tushar Goel</h3>
                                <p>+91-9868903550</p>
                                <p>RAM 3101</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}