{% extends "regsoft/base.html" %}
{% block body %}
<div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <input type="submit" name="">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
</div>

<li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
{% endblock %}