body {
	background-color: #009688;
	color: #fff;
	font: 20px/22px 'Oswald',sans-serif;
	box-sizing: border-box;
	overflow: hidden;
}

/***************************
============================

Layers

============================
***************************/
.layer {
	position: absolute;

	top: 0;
	bottom: 0;
	width: 100vw;
}

.layer:first-of-type{
	z-index : -10;

}

.layer:last-of-type{
	z-index : 10;

}

/***************************
============================

timer's aside

============================
***************************/

.footer-inwrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: absolute;
	bottom: 20px;
}

.footer-inwrap * {
	position: relative;
}

footer .buttons {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

footer .buttons > div {
	margin: 5px;
}

/***************************
============================

timer's aside

============================
***************************/

#three aside {
	border: 1px solid red;
	float: right;
	width: 15vw;
	height: 100vh;
}


/***************************
============================

layer 2

============================
***************************/


#two header {
	height: 23vh;

}

#two footer {
	height: 20vh;
}

#two section {
	height: 57vh;
}

/***************************
============================

header

============================
***************************/

#two .heading {

	float: right;
	width: 30vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#two p {
	display: none;
	font-size: 40px;
	line-height: 60px;
	text-align: right;
	padding-right: 60px;
}

#two nav {
	height: 100%;
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#two input,
#two label {
	display: none;
}

#two nav li {
	display: inline-block;
	height: 100%;
	font-size: 20pt;
	padding: 30px 10px;
	text-transform: uppercase;
	margin-left: 40px;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid transparent;
	transition: all .3s linear;
}

#two nav li a {
	transition: border-bottom-color 0.5s;
	border-bottom: 3px solid transparent;
	padding-bottom: 7px;
	white-space: nowrap;
}

#two nav li:hover a{
	border-bottom-color: #fff;
}

#two nav li:active{
	transform: translateY(2px);
}


/***************************
============================

main content

============================
***************************/

#two section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

#two .shade{
	height: 80%;
	width: 110%;
	transform: rotate(2.5deg) translateX(-10px);
	background-color: rgba(0,0,0,.15);
}

#two .main-content{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

}

#two .container {

	display: flex;
	justify-content: center;
}

#two .text-container {

	padding: 30px;
}

#two .box{
	//border: 1px solid white;
	background: url(../images/box.png) no-repeat;
	background-position: center bottom;
	background-size: contain;
	width: 250px;
	height: 245px;
	position: absolute;
	left: 50%;
	animation: frame-moved 1s linear forwards;
}

#two .text{
	font-size: 5.8em;
	line-height: 150px;
	text-align: center;
	width: 400px;
	height: 150px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 10px;
	animation: appear .8s linear;
}

#two .main-content .bosm-17{
	color: #000;
	background-color: #fff;
	width: 130px;
	font-size: 30px;
	margin: 0 auto;
	padding: 0 7px;
	animation: tranforming-text 0.6s linear;
}

#two .texts li{
	display: none;
}


/***************************
============================

footer

============================
***************************/

#two footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#two footer .button {
	width: 170px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	background-color: rgba(255,255,255,0.3);
	margin-left: 60px;
	position: relative;
	text-align: center;
	cursor:pointer;
}



#two .button:after {
	width: 0px;
	height: 0px;
	border-right: 5px solid transparent;
	border-left: 5px solid rgba(255,255,255,0.3);
	border-top: 15px solid rgba(255,255,255,0.3);
	border-bottom: 15px solid transparent;
	position: absolute;
	content: '';
	right: -10px;
}

#two .button:before {
	width: 0px;
	height: 0px;
	border: 15px solid rgba(255,255,255,0.3);
	transform: rotate(45deg);
	border-top-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	content:'';
	left: -15px;
}

#two .icon {
	display: inline-block;
	width: 29%;
/*	border: 1px solid #fff;*/
	height: 40px;
	border-radius: 6px;
	cursor:pointer;

}

#two .icon img{
	transition: all .3s linear;
}

#two .social_media_icons{
	width: 165px;
	display: flex;
	justify-content: space-around;
	margin-left: 60px;

}

#two .button span{
	margin-top: 1px;
	position: absolute;
	transition: all .3s linear;
	left: -14px;
	border-radius: 50%;
	padding: 2px;
	width: 24px;
	height: 24px;

}

#two .button span img{
	height: 24px;
}

#two .social_media_icons img{
	width: 100%;
	height: auto;
	border-radius: 6px;
}

#two footer .button:hover span,
#two footer .icon:hover img{
	transform: scale(1.2);
}



@media only screen and (max-width:900px){
	/***************************
	============================

	toggle nav

	============================
	***************************/

	#two label {
		display: block;
		position: relative;
		top: 10px;
		left: 10px;
		width: 20px;
		padding: 10px;
		text-align: center;
		transition: all .3s linear;
		border-radius: 3px;
		cursor: pointer;
		border: 1px solid #eee;
		color: #fff;
	}

	#two label:hover {
		background: rgba(255,255,255,.4);
		color: #ddd;
		border: 1px solid #ddd;
	}




	#two nav{
		max-height:0;
		overflow: hidden;

		display: block;
		position: relative;


		top: 10px;
		transition: all 1s linear;

	}

	#two header{
		height: fixed;
	}


	#two nav li{
		font-size: 16px;
		padding: 2px 0;
		width: 120px;
		text-align: left;
		display: block;

		margin-left:10px;
		position: relative;
		transform: translateX(-120px);
		/*border: 1px solid black;*/
	}

	#two nav li:hover{
		border-bottom: 0;
	}

	#two input:checked ~ nav li{
		transform: translateX(0);
	}

	#two nav li:first-of-type{
		transition: transform .3s ease-in;

	}

	#two nav li:nth-of-type(2){
		transition: transform .6s ease-in;

	}

	#two nav li:last-of-type{
		transition: transform .9s ease-in;

	}

	#two header{
		/*border:1px solid #fff;*/
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;

	}

	#two .heading{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;

	}

	#two p{
		font-size: 22px;
		display: block;

	}

	#two input:checked + label{
		transform: translateY(2px);
		background: rgba(255,255,255,.1);
		color: #ddd;
		border: 1px solid #ddd;
	}

	#two input:checked ~ nav{
		max-height: 100%;

	}

	#three aside{
		display: none;
	}
}

@media only screen and (max-width: 500px){
	#two section .box{
		display: none;
	}

	#two footer{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#two footer .button{
		margin-left: 0;
	}

	#two footer .social_media_icons{
		margin: 0 auto;
	}

}


@media only screen and (max-width: 400px){
	#two .text{
		width: 250px;
		font-size: 4em;
		animation: appear-phone .8s linear;
	}

	/*#two .box{
		width: 200px;
		animation: frame-moved-phone 1s linear;
		margin-left: -5em;

	}*/
	#two .text-container{
		padding: 10px;
	}
}

@media only screen and (max-width:425px){
	#two footer .button{
		display: block;
		margin: 2px 10px;


	}
	#two footer .social_media_icons{
		display: block;
		clear: both;
		margin:2px 30px;

		height: auto;
	}

	#two footer{
		height: 20vh;
		/*border: 1px solid black;
*/	}
}


/************************************
=====================================

animation for main content ( Navjot)

=====================================
************************************/

@keyframes frame-moved{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(+20%);
	}
}

@keyframes appear{
	0%{
		opacity: 0;
		font-size: 0em;
	}
	100%{
		opacity: 1;

		font-size: 5.8em;
	}
}

@keyframes appear-phone{
	0%{
		opacity: 0;
		font-size: 0em;
	}
	100%{
		opacity: 1;

		font-size: 4em;
	}
}

@keyframes frame-moved-phone{
	0%{
		margin-left: -24em;
	}
	100%{
		margin-left: -5em;
	}
}


@keyframes tranforming-text{
	0%{
		font-size: 4em;
	}
	100%{
		font-size: 1.5em;
	}
}
/***********************************
====================================

youtube video

====================================
************************************/

.backdrop{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: rgba(0,0,0,.7);
	width: 100vw;
	top: 0;
	bottom: 0;
}


.youtube-video-container{
	margin: 0 auto;
	width: 70vw;
	height: 70vh;
}

.youtube-video-container iframe{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
