<html>
    <head>
            <!-- <meta http-equiv="refresh" content="0; url=https://bits-bosm.org/bosm-2017.apk" /> -->
            <meta name=description content="With the last year's edition witnessing phenomenal participation from colleges both from India and abroad, the 32nd edition of Bits Open Sports Meet guarantees excitement well supplemented by floodlit matches in the evening and the unbridled enthusiasm of the crowds for highly competitive track and off-track events, in the true spirit of sportsmanship and camaraderie. 21th September - 25th September. BOSM 2017. Come, battle it out, with grit and guts, in pursuit of glory.">
            <meta name=robots content="index, follow">
            <meta name=googlebot content="index, follow">
            <meta http-equiv=content-language content=EN>
            <meta name=copyright content="Copyright Â© 2017 Department Of Visual Media, BITS Pilani">
            <meta name=author content="Department Of Visual Media, BITS Pilani">
            <meta name="email" content="dvm@bits-bosm.org">
            <meta name="rating" content="general">
            <meta name="distribution" content="Global">
            <meta name=revisit-after content="2 days">
            <meta property=og:title content="BOSM 2017 | International Sports Festival | BITS Pilani">
            <meta property="og:url" content="https://bits-bosm.org/2017/app/">
            <meta property="og:description" content="With the last year's edition witnessing phenomenal participation from colleges both from India and abroad, the 32nd edition guarantees excitement well supplemented by floodlit matches in the evening and the unbridled enthusiasm of the crowds for highly competitive track and off-track events, in the true spirit of sportsmanship and camaraderie. 21th September - 25th September. BOSM 2017. Come, battle it out, with grit and guts, in pursuit of glory.">
            <meta property="og:type" content="website">
            <meta property='og:image' content="https://bits-bosm.org/img/2.png">
    </head>
</html>