{% extends "pcradmin/base.html" %}
{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center pink-text">Unconfirmed teams under {{g_l.name}} from {{g_l.college}}</h2>
      <div class="center-align">
        <table class="centered">
                <thead>
                    <tr>
                        <th>Team Captain Name</th>
                        <th>College</th>
                        <th>Participants</th>
                        <th>Sport</th>
                        <th>Confirm Team</th>
                    </tr>
                </thead>
                <tbody>
                    <form action="{% url 'pcradmin:confirm_events' g_l.id %}" method="POST">
                    {% csrf_token %}
                    {% for captain in unconf_teamcaptains %}
                    <tr>
                        <td>{{captain.name}}</td>
                        <td>{{captain.g_l.college}}</td>
                        <td>{{captain.total_players}}</td>
                        <td>{{captain.event.name}}</td>
                        <td><input type="checkbox" id="{{captain.id}}" name="confirm" value="{{captain.id}}" class="filled-in-box"/><label for="{{captain.id}}">Select</label></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="waves-effect waves-light btn pink" type="submit" value="Confirm" name="submit">Confirm</td>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>

        <h2 class="header center pink-text">Confirmed teams under {{g_l.name}} from {{g_l.college}}</h2>
        <div class="center-align">
          <table class="centered">
                  <thead>
                      <tr>
                          <th>Team Captain Name</th>
                          <th>College</th>
                          <th>Participants</th>
                          <th>Sport</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for captain in conf_teamcaptains %}
                      <tr>
                          <td>{{captain.name}}</td>
                          <td>{{captain.g_l.college}}</td>
                          <td>{{captain.total_players}}</td>
                          <td>{{captain.event.name}}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><button class="waves-effect waves-light btn pink" type="submit" value="Confirm" name="submit">Confirm</td>
                      </tr>
                  </tbody>
              </table>
          </div>
    </div>
</div>
{% endblock %}