{% extends "pcradmin/base.html" %}
{% block body %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center pink-text">Select the Group Leader to show list of Participants</h2>
      <br>
      <div class="center-align">
        <table class="centered">
                <thead>
                    <tr>
                        <th>Group Leader Name</th>
                        <th>College</th>
                        <th>Phone number</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gl in groupleaders %}
                    <tr>
                        <td>{{gl.name}}</td>
                        <td>{{gl.college}}</td>
                        <td>{{gl.phone}}</td>
                        <td>
                            <a href="{% url 'pcradmin:edit-show_participants' gl.id %}" class="btn-large waves-effect waves-light pink">Select</a>

                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <br>
            
        </div>
    </div>
</div>
{% endblock body %}