{% extends "pcradmin/base.html" %}
{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center pink-text">Compose email for {{g_l.name}}</h2>
            <form action="{% url 'pcradmin:final_confirmation_email' g_l.id %}" method="POST">
                {% csrf_token %}
                <div class="input-field col s12">
                    <input value="{{to}}" id="email_id" type="text" class="validate" name="to">
                    <label class="active" for="email_id">To:</label>
                </div>
                <div class="input-field col s12">
                    <input value="{{subject}}" id="sub" type="text" class="validate" name="sub">
                    <label class="active" for="sub">Subject</label>
                </div>
                <div class="input-field col s12">
                    <textarea name="body" id="body" value="{{body}}">{{body}}</textarea> 
                    <label class="active" for="body">Body</label>
                </div>
                <button class="waves-effect waves-light btn green" type="submit" name="submit">Send Email</button>
            </form>
            <br>
    </div>
</div>
{% endblock body %}