{% extends "pcradmin/base.html" %}
{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center pink-text">Click <a class="waves-effect waves-light btn pink" href="{% url 'pcradmin:final_list_download' %}">here</a> before sending final confirmation E-mails.</h2>
      <br><br>
      <h2 class="header center pink-text">List of approved Team Captains</h2>
      <div class="center-align">
        <table class="centered">
                <thead>
                    <tr>
                        <th>Group Leader Name</th>
                        <th>College</th>
                        <th>Compose Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tc in tcs %}
                    <tr>
                        <td>{{tc.name}}</td>
                        <td>{{tc.college}}</td>
                        <td><a class="waves-effect waves-light btn pink" href="{% url 'pcradmin:final_confirm_email' tc.id %}">Send Email</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}