<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>BOSM 17 Registeration Sports</title>
	<link rel="stylesheet" href="{% static 'registrations/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registrations/css/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static 'registrations/js/materialize.min.js' %}"></script>
</head>
<body  style="background-color:#D9E5D6;overflow-y:scroll">
<div class="container" style="margin-top:2vh;">
	<div class="row">
		<div class="col s12 welcome" style="">
			Add or Remove Sports
		</div>
	</div>
</div>
<div class="container" style="margin-top:4vh;">
	<div class="row" style="margin-bottom:0px;">
		<div class="col s12 m5 l5 box" id="sportsadded" style="margin-bottom:10vh;">

			<div class="col s12  m12 l12 " style="display:flex;justify-content:center;margin-top:30px;">
		 		<button class="btn waves-effect waves-light signup-button" type="submit" name="action" id="addsport-btn" style="white-space:nowrap">Add Sport</button>
			</div>
		</div>
		<div class="col s12 m5 l5 offset-m2 offset-l2 box" id="sportsremoved">
			<div class="col s12  m12 l12 " style="display:flex;justify-content:center;margin-top:30px;">
		 		<button class="btn waves-effect waves-light signup-button" type="submit" name="action" id="removesport-btn" style="white-space:nowrap">Remove Sport</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s12  m12 l12 " style="display:flex;justify-content:center;">
		 	<button class="btn waves-effect waves-light signup-button" type="submit" name="action" id="done-btn" style="background-color:#0FA3B1 !important;color:#D9E5D6 !important;white-space:nowrap">DONE</button>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	function adddiv(sport,id,resid){
		var $div = $("<div>", {id: resid, "class": "row"});
		var $innerdiv = $("<div>").addClass("col s12 check");
		var $input = $("<input>",{"type":"checkbox","id":"test"+resid,"value":resid});
		var $label = $("<label>",{"for":"test" + resid}).text(sport);
		$input.appendTo($innerdiv);
		$label.appendTo($innerdiv);
		$innerdiv.appendTo($div);
		$('#' + id).prepend($div);
	}	
	// adddiv(5,"Badmintion","sportsadded");
	$.ajax({
		method:"GET",
		url:"{% url 'registrations:manage' %}",
	}).done(function(res){
		if(res.x == 1){
		$.each(res.events_added,function(i,ele){
			adddiv(ele["name"],"sportsremoved",ele["id"])
		});
	}
		$.each(res.events_left,function(i,ele){
			adddiv(ele["name"],"sportsadded",ele["id"])
		});
	})
	$('#addsport-btn').click(function(){
		$.each($('#sportsadded input[type="checkbox"]'),function(i,ele){
				val=ele.checked;
				if(val === true){
					id = $(ele).attr('id');
					new_id = id.slice(4);
					$("#" + new_id).detach().prependTo('#sportsremoved');
					$('#' + id).click();
				}
			});
	});
	$('#removesport-btn').click(function(){
		$.each($('#sportsremoved input[type="checkbox"]'),function(i,ele){
				val=ele.checked;
				if(val === true){
					id = $(ele).attr('id');
					new_id = id.slice(4);
					$("#" + new_id).detach().prependTo('#sportsadded');
					$('#' + id).click();
				}
			});
	});
	$('#done-btn').click(function(){
		var addedsports = [];
		var removedsports = [];

		$.each($('#sportsremoved input[type="checkbox"]'),function(i,ele){
			id = $(ele).attr("value");
			addedsports[i] = id;
			
		}); 
		console.log("added:",addedsports);

		$.each($('#sportsadded input[type="checkbox"]'),function(i,ele){
			id = $(ele).attr("value");
			removedsports[i] = id;
			
		});	
		
		console.log("removed",removedsports);
		var data = {
			"sportsadded" : addedsports,
			"sportsleft" : removedsports
		}
		$.ajax({
			method:'POST',
			url:"{% url 'registrations:manage' %}",
			data:data
		}).done(function(){
			console.log("success!");
			window.location.href = "{% url 'registrations:index' %}";
		});
	});
})

</script>
</body>
</html>