{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>Team Members</title>
	<link rel="stylesheet" href="{% static 'registrations/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registrations/css/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static 'registrations/js/materialize.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>
<body style="background-color:#D9E5D6;overflow-y:scroll">



<div class="container" style="margin-top:2vh;">
	<div class="row">
		<div class="col s12 welcome" style="">
			Welcome to BOSM 2017 Registrations!
		</div>
	</div>
</div>
<div class="container" style="margin-top:4vh;">
	<div class="row" style="margin-bottom:0px;">
		<div class="col s6 offset-s3 box" id="sportsadded" style="margin-bottom:10vh;">
<center><h3><a style="font-weight: bold;color:#0FA3B1">Participants</a></h3></center>
{% for i in participants %}
<div class="row">
				<div class="col s12" >
				<center><h3><a style="font-size:80%;color:#0FA3B1">{{i}}</a></h3></center>
      			</div>
</div>
{% endfor %}
</div>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col s12  m12 l12 " style="display:flex;justify-content:center;">
		 	<button class="btn waves-effect waves-light signup-button" id="done-btn" style="background-color:#0FA3B1 !important;color:#D9E5D6 !important;white-space:nowrap"><a href="{% url 'registrations:index' %}">Home</a></button>
		</div>
	</div>
</div>



</body>
</html>